.form {
  position: absolute;
  top: 20%;
  display: flex;
  align-items: center;
  min-height: 2.5rem;

  @media only screen and (max-width: 767.98px) {
    min-width: 100%;
    justify-content: center;
  }
}

.todoValue {
  margin-right: 1rem;
}

.editButton {
  border: none;
  border-radius: 3px;
  min-width: 7rem;
  min-height: 2.35rem;
  background-color: #b782c7;
  color: white;
  font-weight: 700;
}
